#main-nav{
	    margin-bottom: 0;
}
a{color:black !important;}
.rect{
	/*background-color: #77C5F7;*/
	display:inline-block;
	width:150px;
	height:150px;
	border-radius: 18px;
	border: 3px solid white;
	color:white;
}
#secondSection{
	 text-align:justify;
    position:relative;
        padding-left: 60px;
    padding-right: 60px;
}
#secondSection:after {
    display:inline-block;
    width:100%;
    content:'';
}
h1{
	display:inline;
	border: white solid thick;
	border-radius:12px;
	padding:10px;
}
h2{
	    text-align: center;
    top: 25%;
    position: relative;
}
.container-fluid
{
	position: relative;
}
.contact 
h1{
	padding:0;
}
h4{
	margin-top:20px;
}
.small-top-margin{
	margin-top:15px;
}
.top-text{
	color:#FFFFFF;
position:relative;
top:35%;
}
.centered{
	text-align:center;
}
.section{
padding-top:50px;
padding-bottom:50px;}


.withBackground{
	/*background-image: url("./index_files/Cincybackgroundsmall.JPG");*/
	background-size: 100% 100%;
	background-color: #354458;
	}
	
@media (max-width:549px) {

.inline{
padding-bottom:10px;}
}

@media (min-width: 550px) {
.withBackground{
 	/*background-image: url("./index_files/Cincybackgroundlarge.JPG");*/
}
.flex-column{
	display:inline-block;
	width: calc(100% - 320px);
}

}

#logo{
	padding-top:20px;
}

.with-max-width{
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
	padding-left:25px;
	padding-right:25px;
}
.inline{
	text-align:center;
}
.with-light-blue{
	background-color: #54B9CB;
}
.text-block{
	padding-top:15px;
	padding-bottom:15px;
}
html {
  position: relative;
  min-height: 100%;
}
.body {
  /* Margin bottom by footer height */
  margin-bottom: 135px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: auto;
}


.top-margin{
	padding-top:20px;
	padding-bottom:20px;
}

    .social-buttons a{
    	display:inline-block;
    	font-size:.75em;
    }

a:link {
color: #000;
text-decoration: none;
}
a:visited {
color: #000;
text-decoration: none;
}
a:active {
color: #000;
text-decoration: none;
}
.fa-stack {
color:white;
}
.social-buttons .fa-stack-1x{
	color:#354458;
}
.fa.fa-instagram{	
	font-size:1.3em;
}
.resume{
	height:950px;
	padding-bottom:0px;
}
@media (max-width:600px){
	a{display:block; margin: 20px 0px; text-align:center;}
	.rect{    width: 300px;
    height: 100px;}
    h2{top:12.5%;}
    .section {
    	    padding-bottom: 10px;
    padding-top: 10px;
 }
div#secondSection{
 	    padding-left: 0;
    padding-right: 0;
 }
    .social-buttons a{
    	display:inline-block;
    	font-size:.4em;
    }

}